<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtaJhlmgInWBjJ7eWLBQUReWyjfUsd6go</string>
	<key>GCM_SENDER_ID</key>
	<string>390223854825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.xushnudbek.audioBookFlutter</string>
	<key>PROJECT_ID</key>
	<string>audio-book-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-book-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390223854825:ios:683454fae3c9beee058478</string>
</dict>
</plist>